<div class="advertise-panel">
        <div class="row">
            <div class="gallery-item">
                <div class="column">
                    <img src="../assets/images/gallery1/ga-1.png">
                </div>
                <div class="column">
                    <img src="../assets/images/gallery1/ga-2.png">
                </div>
                <div class="column">
                    <div class="example-button-row">
                      <a mat-fab id="previous" routerLink="."><i class='fas fa-angle-left' style='font-size:30px'></i></a>
                      <a mat-fab id="next" routerLink="." ><i class='fas fa-angle-right' style='font-size:30px'></i></a>
                    </div>
                    <!-- <a mat-fab routerLink="."><i class='fas fa-angle-left' style='font-size:36px'></i></a>
                    <div class="btn btn-outline-secondary slide-btn" id="previous"></div>
                    <div class="btn btn-outline-secondary slide-btn" id="next"><i class='fas fa-angle-right' style='font-size:36px'></i></div> -->
                </div>
            </div>
            <div class="gallery-item">
                <div class="column">
                    <img src="../assets/images/gallery1/ga-3.png">
                </div>
                <div class="column">
                    <img src="../assets/images/gallery1/ga-4.png">
                </div>
                <div class="column">
                    <img src="../assets/images/gallery1/ga-5.png">
                </div>
            </div>
            <div class=" gallery-item">
                    <div class="column">
                        <img src="../assets/images/gallery1/ga-6.png">
                    </div>
                    <div class="column">
                        <img src="../assets/images/gallery1/ga-7.png">
                    </div>
                    <div class="column">
                        <img src="../assets/images/gallery1/ga-8.png">
                    </div>
            </div>
        </div>

</div>


