
<div class="card" style="width: 12rem;top:-15%;">
    <div class="member-img">
      <img class="card-img-top" src="../../../assets/images/contact-member/1.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <h6 class="card-title">Lucas Goncalves</h6>
    </div>
    <ul class="list-group list-group-flush">
      <a class="">
        <h5>&nbsp;&nbsp;<img src="../../../assets/images/whatsapp.png">(11)93467-4093</h5>
      </a>
      <a class="btn btn-outline-secondary member-contact">Veja imoveis deste corretor</a>
    </ul>
    <br>
  </div>

  <div class="card" style="width: 12rem;top:-25%;">
      <div class="member-img">
        <img class="card-img-top" src="../../../assets/images/contact-member/2.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h6 class="card-title">Lucas Goncalves</h6>
      </div>
      <ul class="list-group list-group-flush">
        <a class="">
          <h5>&nbsp;&nbsp;<img src="../../../assets/images/whatsapp.png">(11)93467-4093</h5>
        </a>
        <a class="btn btn-outline-secondary member-contact">Veja imoveis deste corretor</a>
      </ul>
      <br>
    </div>

    <div class="card" style="width: 12rem;top:-15%;">
        <div class="member-img">
          <img class="card-img-top" src="../../../assets/images/contact-member/3.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h6 class="card-title">Lucas Goncalves</h6>
        </div>
        <ul class="list-group list-group-flush">
          <a class="">
            <h5>&nbsp;&nbsp;<img src="../../../assets/images/whatsapp.png">(11)93467-4093</h5>
          </a>
          <a class="btn btn-outline-secondary member-contact">Veja imoveis deste corretor</a>
        </ul>
        <br>
      </div>

      <div class="card" style="width: 12rem;top:-25%;">
          <div class="member-img">
            <img class="card-img-top" src="../../../assets/images/contact-member/4.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h6 class="card-title">Lucas Goncalves</h6>
          </div>
          <ul class="list-group list-group-flush">
            <a class="">
              <h5>&nbsp;&nbsp;<img src="../../../assets/images/whatsapp.png">(11)93467-4093</h5>
            </a>
            <a class="btn btn-outline-secondary member-contact">Veja imoveis deste corretor</a>
          </ul>
          <br>
        </div>

        <div class="card" style="width: 12rem;top:-15%;">
            <div class="member-img">
              <img class="card-img-top" src="../../../assets/images/contact-member/5.png" alt="Card image cap">
            </div>
            <div class="card-body">
              <h6 class="card-title">Lucas Goncalves</h6>
            </div>
            <ul class="list-group list-group-flush">
              <a class="">
                <h5>&nbsp;&nbsp;<img src="../../../assets/images/whatsapp.png">(11)93467-4093</h5>
              </a>
              <a class="btn btn-outline-secondary member-contact">Veja imoveis deste corretor</a>
            </ul>
            <br>
          </div>


