<div class="container link-container col-xl-12">
  <div class="link-title"><h1>+ de 320 Imoveis</h1></div>
    <div class="list-content">
        <ul class="link-list-group">
            <div class="link-list-group-item ">
                <div class="row link-row1">
                <div class="col-s-3" style="padding-bottom:0px;font-size:10px;">
                    Vivarmus consequat consectetur iaculis.
                    Pelentesque consequat tempus elit in tincidunt.
                  </div>
                  <a class="btn btn-outline-secondary">imoveis a venda em Campinas</a>
                  <a class="btn btn-outline-secondary">Casas a venda em Curitiba</a>
                  <a class="btn btn-outline-secondary">Casas para alugar no Rio de Janeiro</a>
                </div>
            </div>
            <div class="link-list-group-item">
                <div class="row link-row2">
                    <a class="btn btn-outline-secondary">imoveis a venda em Sao bernardo</a>
                    <a class="btn btn-outline-secondary">Casas a venda em Guarujia</a>
                    <a class="btn btn-outline-secondary">Casas para algugar no Florianopolis em Curitiba</a>
                    <a class="btn btn-outline-secondary">Casas para alugar no Belo Horizonte</a>
              </div>
            </div>
            <div class="link-list-group-item">
                <div class="row link-row2">
                    <a class="btn btn-outline-secondary">Casas para alguar no Belo Horizonte</a>
                    <a class="btn btn-outline-secondary">Casas a venda em Curitiba</a>
                    <a class="btn btn-outline-secondary">imoveis a venda em Campinas</a>
                    <a class="btn btn-outline-secondary">Casas a venda em Guarujia</a>
                </div>
            </div>
            <div class="link-list-group-item">
                <div class="row link-row3">
                    <a class="btn btn-outline-secondary">Casaspara alugar no Florianopolis</a>
                    <a class="btn btn-outline-secondary">Cansas a venda em Guarujia</a>
                    <a class="btn btn-outline-secondary">Casas Para augar no Rio de Janeiro</a>
                    <a class="btn btn-outline-secondary">imoveis a venda em Sao bernardo</a>
                    <a class="btn btn-outline-secondary" style="color:#2F5AA8;border-color:#2F5AA8;"><i class='fas fa-sliders-h'></i></a>
                  </div>
              </div>
          </ul>
        </div>
  </div>
