<h1 ><b>Simulador</b></h1>
<br>
Fasca uma simples simulacao de financiamento e saiba
<br> mais detalhes sobre prazos e condicoes.
  <div class="grid-container">
        <div class="grid-item item3">
          <div class="range-slider-set">
            <h6>Preco do Imovei</h6>
            <h3>R$ 600.000.000</h3>
            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3" value="4">
          </div>
        </div>
      <div class="grid-item item4">
        <h6>Entrada</h6>
        <div class="flex-container">
          <div><h3>30%</h3></div>
          <div><h6>(R$ 180.000.000)</h6></div>
        </div>
        <div class="range-slider-set">
          <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3" value="4">
        </div>
      </div>
      <div class="grid-item item2">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-6">
                      <div class="progress blue">
                          <span class="progress-left">
                              <span class="progress-bar"></span>
                              <span class="progress-bar1"></span>
                          </span>
                          <span class="progress-right">
                              <span class="progress-bar"></span>
                              <span class="progress-bar2"></span>
                          </span>
                          <div class="progress-value">
                            <h6>Valor total da parcela</h6>
                            <div class="flex-container">
                                <div><h6>R$</h6></div>
                                <div><h3>5572,00</h3></div>
                                <div><h6>/mes</h6></div>
                            </div>
                            <p class="small" style="font-size:12px;">
                                <a style="color:#43B4FF">Valor da Amortizacao(R$ 2,333,00por mes)</a><br>
                                <a style="color:#22CECE">Valor dos Juros (R$ 3,150,00 por mes)</a><br>
                                <a style="color:#FF9124">Taxa fixa -Banco (R$ 25.00 )</a><br>
                                <a style="color:#FF4A71">Taxa de seguro (R$ 64.00)</a><br>
                            </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="grid-item item3">
        <h6>Taxa de Juros</h6>
        <div class="flex-container">
            <div><h3>9%</h3></div>
            <div><h6>/ano</h6></div>
          </div>
          <div class="range-slider-set">
            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3" value="4">
          </div>
      </div>
      <div class="grid-item item4">
        <h6>Tempo de Financiamento</h6>
        <h3>15 anos</h3>
          <div class="range-slider-set">
            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3" value="4">
          </div>
      </div>

    </div>
