 <div class="main-header ">
  <div class="header-img"></div>
  <div class="header-logo-img">
    <img src="../assets/images/logo.png">
  </div>
  <div class="row header-search-bar">
    <div class="col-sm-3 header-content"></div>
    <div class="col-sm-6 header-content">
      <a class="btn btn-outline-primary header-search-btn">Hello</a>
      <a class="btn btn-outline-primary header-search-btn">Hello</a>
      <a class="btn btn-outline-primary header-search-btn">Hello</a>
      <form>
          <div class="input-group mt-3 mb-3">
            <div class="input-group-prepend">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Dropdown</button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
                <a class="dropdown-item" href="#">Link 3</a>
              </div>
            </div>
            <input type="text" class="input-field form-control" placeholder="Username">
            <div class="btn search-btn"><i class='fas fa-search' style='font-size:24px'></i></div>
          </div>
        </form>
    </div>
    <div class="col-sm-3 header-content"></div>
  </div>
  <div class="contact-btn-bar">
    <a class="btn btn-outline-primary header-search-btn">Hello</a>
    <a  class="btn btn-outline-primary social-link" data-toggle="modal" data-target="#myModal2">
      <i class="material-icons" style="color:white;">menu</i>
    </a>
  </div>
</div>



