
<div class="header">
    <app-header></app-header>
</div>

  <div class="row">
    <div class="col-2 col-s-2 blank">
    </div>

    <div class="col-8 col-s-11 advertise-content">
        <app-content></app-content>
        <app-link></app-link>
        <div class="show-detail">
          <img src="../../assets/images/visit.png">
        </div>
        <app-slider></app-slider>
    </div>
  </div>

    <div class="card-content">
      <app-card></app-card>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>

